<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.triptracker">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TripTracker.NoActionBar"
        tools:targetApi="31">
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".RouteDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".VerifyEmailActivity"
            android:exported="false" />

        <service
            android:name=".LocationProvider"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location"
            android:permission="TODO" />

        <activity
            android:name=".SaveTrackedActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".EndTrackingActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".TrackingActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ChangeEmailActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".DisplaySettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".ChangeUsernameActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:theme="@style/Theme.TripTracker.NoActionBar" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.TripTracker.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>